{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
{% endblock %}

{% block content %}
    {% for profile in form %}
        <div>
            <div>
                <p> {{ profile.f_name }} </p>
                <p> {{ profile.l_name }} </p>
            </div>
            <div>
                <img class="imageClass" src="http://127.0.0.1:8000/media/uploads/{{ profile.profile_pic }}">
            </div>
        </div>
    {% endfor%}

    <form action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}
        <div>
            <div>
                <label> FirstName </label>
                <input type="text" name="f_name"  id="f_name">
            </div>
            <div>
                <label> LastName </label>
                <input type="text" name="l_name" id="l_name">
            </div>
            <div>
                <label> Email </label>
                <input type="text" name="emai" id="emai">
            </div>
            <div>
                <select id="catergorySelection" onchange="setPic()">
                    <option value="github">github</option>
                    <option value="sophos">sophos</option>
                </select>
            </div>
            <div style="display: none">
                <input type="text"  name="profile_pic" id="profile_pic" >
            </div>
        </div>
        <input type="submit" value="Submit">
    </form>

    <script>
        function setPic() {
          var x = document.getElementById("catergorySelection").value;
          var y = x +".png"
          document.getElementById("profile_pic").value =y
          console.log(document.getElementById("profile_pic").value)
        }
    </script>
{% endblock %}